/* Sidebar.css */

.custom-scrollbar {
    padding-right: 15px;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #6c757d;
    border-radius: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #495057;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #e9ecef;
    border-radius: 6px;
  }
  
  .sidebar-button {
    margin-bottom: 10px;
    width: 100%;
  }
  
  .sidebar-button.active {
    background-color: #007bff;
    color: white;
  }
  